@import "tailwindcss";

@theme {
  --color-black: #101828;
  --color-white: #ffffffd9;
  --color-primary: #000000;
  --color-hover: #6542F5;
  --color-secondary: #ffffff99;
}

body {
  background-image: var(--background-colorr)
}

@layer utilities {
  .nav-btn:hover {
    box-shadow: rgb(255 255 255 / .3) 0px 1px 2px 0px inset;
    border-radius: 10px;
    background-color: var(--background-colorr);
    transition: all
  }
}

@utility cont {
  @apply max-w-5xl xl:max-w-7xl mx-auto px-5 lg:px-0
}
@utility card {
  @apply rounded-lg border-white/5 border bg-white/3
}
@utility btn-con {
  @apply bg-white rounded-md text-black font-medium cursor-pointer px-6 py-3 border border-white hover:scale-97
}
@utility btn-out {
  @apply rounded-md text-white cursor-pointer px-6 py-3 border border-white hover:scale-97
}