@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-black: #000;
  --color-white: #ffffffd9;
  --color-primary: #000;
  --color-hover: #6542f5;
  --color-secondary: #ffffffc6;
  --color-borderColor: rgba(214, 235, 253, 0.19);
  --font-weight-head2: semibold;
}

@layer utilities {
  .nav-btn:hover {
    box-shadow: rgb(255 255 255/ 0.3) 0px 1px 2px inset,
      rgb(255 255 255 / 0.3) 0px -1px 2px inset;
    border-radius: 10px;
    transition: all;
  }
}
@layer utilities {
  .nav-btn-active {
    box-shadow: rgb(255 255 255/ 0.3) 0px 1px 2px inset,
      rgb(255 255 255 / 0.3) 0px -1px 2px inset;
    border-radius: 10px;
    transition: all;
  }
}

/* .card-light {
  radial-gradient: (
    70% 80% at center 0%,
    rgba(255, 255, 255, 0.06) 3%,
    rgba(98, 255, 179, 0) 70%,
    rgba(98, 255, 179, 0) 100%
  );
} */

@layer utilities {
  .nav {
    box-shadow: rgb(255 255 255 / 0.3) 0px 1px 2px 0px inset;
    border-radius: 10px;
    transition: all;
  }
  @layer utilities {
    .shade {
      box-shadow: rgb(255 255 255) 0px 2px 6px -2px,
        rgb(255 255 255) 0px -2px 6px -1px;
    }
  }
}
@utility headernav {
  @apply pt-2 pb-2.5 px-5 transition-all duration-1000 ease-in-out;
}
@utility cont {
  @apply xl:max-w-7xl mx-auto lg:px-0;
}
@utility card {
  @apply rounded-2xl border-borderColor border bg-primary/10 scale-z-110 shadow-xl transition-all duration-300;
}
@utility btn-con {
  @apply bg-white rounded-md text-black font-medium cursor-pointer px-6 py-3 border border-white hover:scale-97 transition-all duration-300;
}
@utility btn-out {
  @apply rounded-md text-white cursor-pointer px-6 py-3 border border-borderColor hover:scale-97 transition-all duration-300;
}
@utility h1 {
  @apply lg:text-[min(6.5vw,72px)] mb-4 font-bold text-white;
}
@utility pp {
  @apply lg:text-[min(1.406vw,18px)] mb-10 text-secondary text-lg;
}
@utility btn-div {
  @apply flex gap-7 justify-center xl:justify-self-start;
}
@utility after-line {
  @apply after:content-[''] after:bg-white/5 after:w-full after:mt-12 after:h-px after:block;
}
@utility form-input {
  @apply placeholder:text-secondary rounded-lg border border-borderColor py-2 px-4  w-full bg-gray-600/10   outline-none text-white mt-1 placeholder:text-sm;
}
@utility form-error {
  @apply text-red-900 text-sm mt-1;
}
@utility head1 {
  @apply lg:text-[min(5vw,64px)] sm:leading-none mb-4 font-head2 md:text-[3.5rem] text-4xl leading-[1.2];
}
@utility text-pp {
  @apply text-[min(2.5vw,16px)] tracking-[.07rem];
}
@utility ul-li {
  @apply xl:hidden text-secondary lg:mt-60 lg:ml-50 lg:scale-150 mb-8;
}
@utility about-h2 {
  @apply text-4xl text-white mb-8;
}
@utility subhead {
  @apply md:text-5xl mb-4 font-head2 text-4xl leading-none;
}
@utility navbtn {
  @apply py-3 w-full hover:bg-white/5 text-center rounded-lg;
}
@utility icons {
  @apply text-secondary/80 hover:text-white hover:-translate-y-1 w-7 h-7 cursor-pointer transition-all duration-500 ease-in-out;
}
@utility footer-line {
  @apply after:content-[''] after:bg-white/10 after:w-full after:absolute after:-mt-16 after:top-0 after:h-px;
}
@utility footerli {
  @apply w-1/5;
}
@utility footernav {
  @apply py-3 w-full hover:bg-white hover:shadow-2xl bg-white/7 text-center rounded-lg hover:text-black;
}
/* @keyframes move-full {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
} */

/* @keyframes cardd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cardd-animation {
  animation: cardd 0.8s ease-in-out forwards;
} */
